*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
}
body{
    background-image: url("Group.jpg");
    background-size: 100%;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background: white;
    width: 600px;
    height: 55px;
    display: flex;
    border-radius: 5px;
}
form input{
    flex: 1;
    border: none;
    outline:none;
}
form button{
    background: tomato;
    padding: 10px 50px;
    border:none;
    outline:none;
    color:white;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 2px;
}
form button:hover{
    opacity: 0.2;
}
.fa-magnifying-glass{
    align-self: center;
    padding: 10px 20px;
    color:#777;
}